<div class="col-2">
    <div class="card" style="width: 18rem;">
        <h5 class="card-header"> <%= Employee.getName().toUpperCase() %></h5>
        <div class="card-body">
            <p>Engineer</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong> Id:</strong> <%= Employee.getId() %></li>
                <li class="list-group-item">
                    <strong>Email:</strong> <%= Employee.getEmail() %></li>
                <li class="list-group-item">
                    <strong>Github:</strong> <%= Employee.getGitHUB() %></li>
            </ul>
        </div>
    </div>
</div>